.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px; /* Maksimalna širina forme */
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.login-form {
  width: 100%; /* Forma zauzima celu širinu */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form input {
  width: 100%; /* Polja za unos zauzimaju celu širinu forme */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Padding i border su uračunati u širinu */
}

.login-form button {
  width: 100%; /* Dugme je iste širine kao input polja */
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-sizing: border-box;
}

.login-form button:hover {
  background-color: #0056b3;
}

.register-link {
  margin-top: 20px;
  text-align: center;
}

.register-link p {
  margin-bottom: 10px;
}

.register-link button {
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.register-link button:hover {
  text-decoration: underline;
}